{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
{% load static %}

  <!-- Sub banner start -->
  <div class="sub-banner overview-bgi">
  <div class="container breadcrumb-area">
      <div class="breadcrumb-areas">
          <h1>Dashboard</h1>
          <ul class="breadcrumbs">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li class="active">{{user.username}}</li>
          </ul>
      </div>
  </div>
  </div>
  <!-- Sub Banner end -->

  <!--   Dashboard Start   -->

  <div class="container mt-50 mb-50">
    {% include 'includes/messages.html' %}
    <div class="main-title" style="text-align:left !important;">
        <h1>Welcome <span>User</span></h1>
        <p>Here are the cars that you have inquired about</p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date & Time</th>
          <th scope="col">Car Name</th>
          <th scope="col">Regarding</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for inquiry in inquires %}
          <tr>
            <th scope="row">{{inquiry.create_date}}</th>
            <td>{{inquiry.car_title}}</td>
            <td>{{inquiry.customer_need}}</td>
            <td>${{inquiry.price}}</td>
            <td><a style="font-size: 1vw;" href="{% url 'car_detail' inquiry.car_id %}" class="btn btn-outline-dark">View Car</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not inquires %}
    <div class="container-fluid text-center">
      <div style="font-size: 5vw; display: inline;">&#128580;</div>
      <div style="font-size: 3vw; display: inline; vertical-align: text-bottom;">!! NO INQUIRES EXIST !!</div>
    </div>
    {% endif %}
  </div>

  <!--   Dashboard End   -->
{% endblock %}
